*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{list-style-type: none;cursor: pointer;}
a{text-decoration: none;color:inherit;cursor: pointer;}
td,th{font-weight: normal;}
span{display: inline;}
button{cursor: pointer;}
img{border:none;}
.clearfix:after{content:"";height:0;line-height:0;display:block;visibility:hidden;clear:both;}
.clearfix{zoom:1;}
body{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
    background-color: #fff;
    min-width: 1226px;
}
.container {
    width: 1226px;
    margin: 0 auto;
}
.container::after{
    content: "";
    clear: both;
}

.header{
    position: relative;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background: #333;
    .nav{
        float: left;
        li{
            float: left;
            margin-right: 15px;
        }
    }
    .mincart{
        float:right;
        background: #424242;
        padding: 0 10px;
        position: relative;
        .cart-info{
            color: #000;
            position: absolute;
            right: -1px;
            width: 300px;
            height: 0;
            background-color: #fff;
            z-index: 999;
            border: 1px solid #ccc;
            border-top: none;
            overflow: hidden;
            transition: height .3s;
        }
        &:hover{
            background-color: #fff;
            color: red;
        }
        &:hover .cart-info{
            height: 200px;
        }
    }

    .userinfo{
        float:right;
        margin-right: 20px;
        a{
            margin-right: 10px;
            display: inline-block;
        }
    }
}
.top{
    overflow: hidden;
    .top-nav{
        height: 100px;
        line-height: 100px;
        .logo{
            margin-top: 22px;
            position: relative;
            float: left;
            display: block;
            width: 55px;
            height: 55px;
            overflow: hidden;
            background-color: #ff6700;
            color: #fff;
            
        
            &:hover::before{
                transform: translate(0px, 0px);
                opacity: 1;
            }
            &:hover::after{
                transform: translate(50px, 0px);
                opacity: 0;
            }
        }
        .logo::before{
            content: "";
            background:url(../image/mi-home.png);
            width: 49px;
            height: 49px;
            position: absolute;
            top: 3px;
            left: 3px;
            transition: all .2s;
            transform-origin: 50% 50%;
            opacity: 0;
            transform: translate(-50px, 0px);
        }
        .logo::after{
            content: "";
            background:url(../image/mi-logo.png);
            width: 49px;
            height: 49px;
            position: absolute;
            top: 3px;
            left: 3px;
            transition: all .2s;
            transform-origin: 50% 50%;
        }

        .nav{
            float: right;
            font-size: 16px;
            margin-right: 20px;
            li{
                float: left;
                margin-right: 20px;
                &:hover{
                    color:#f00;
                }
            }
        }

        .search{
            float: right;
            height: 50px;
            width: 300px;
            margin-top: 25px;
            position: relative;
            .search-input{
                outline: none;
                border: none;
                position: absolute;
                left: 0;
                top: 0;
                height: 50px;
                width: 250px;
                padding: 0 10px;
                border: 1px solid #ccc;
                z-index: 99;
                
                &:focus{
                    border-color: #f00;
                }
                &:focus+.search-btn{
                    border-color: #f00;
                }
            }
            .search-btn{
                position:absolute;
                outline: none;
                width: 50px;
                right: 0;
                top: 0;
                bottom: 0;
                background: #fff;
                border: 1px solid #ccc;
                border-left: 0;
            }

            .search-info{
                position: absolute;
                top: 50px;
                left: 0;
                width: 250px;
                z-index: 999;
                background: #fff;
                transition: height .2s;
                height: 0;
            }
            .search-info-active{
                border: 1px solid #f00;
                border-top: none;
                height: 300px;
            }
        }
    }
    
    .banner-box{
        height: 460px;
        background: #333;
        position: relative;

        .banner-nav{
            margin: 20px 0px;
            color: #fff;
            width: 235px;
            float: left;
            font-size: 14px;
            li{
                height: 42px;
                line-height: 42px;
                a{
                    position: relative;
                    display: block;
                    padding: 0 30px;
                }
                
                a::after{
                    content: '';
                    position: absolute;
                    right: 30px;
                    top: 50%;
                    margin-top: -5px;
                    width: 5px;
                    height: 5px;
                    border-width: 2px;
                    border-style: solid;
                    border-color: #fff #fff transparent transparent;
                    transform: rotate(45deg);
                }
                &:hover{
                    background-color: #ff6700;
                }
                &:hover .nav-content{
                    display: block;
                }
                .nav-content{
                    position: absolute;
                    left: 235px;
                    top: 0px;
                    width: 991px;
                    height: 460px;
                    background: #fff;
                    z-index: 999;
                    border: 1px solid #ccc;
                    display: none;
                    color: #000;
                }
            }
        }
    }

    .menu{
        margin-top: 20px;
        div{
            height: 170px;
        }
        .menu-box{
            width: 234px;
            float: left;
            background: #333;
            .menu-ul{
                padding: 3px;
                overflow: hidden;
                li{
                    float: left;
                    width: 76px;
                    padding: 3px;
                    height: 82px;
                    color: #fff;
                    line-height: 82px;
                    position: relative;
                    text-align: center;
                    &::before{
                        content: "";
                        width: 64px;
                        height: 1px;
                        position: absolute;
                        top: -1px;
                        left: 6px;
                        background: #665e57;
                    }
                    &::after{
                        content: "";
                        width: 1px;
                        height: 70px;
                        position: absolute;
                        top: 6px;
                        left: 0;
                        background: #665e57;
                    }
                }
                li.beforenone::before{
                    width: 0px;
                    height: 0px;
                }
                li.afternone::after{
                    width: 0px;
                    height: 0px;
                }
            }
        }
        .box{
            width: 316px;
            float: left;
            margin-left: 14px;
            background: #ccc;

            img{
                width: 100%;
            }
        }
    }
}

.center{
    margin-top: 20px;
    overflow: hidden;
    .title{
        margin-bottom: 10px;
        h2{
            font-size: 22px;
            font-weight: 200;
        }
    }
    .shangou{
        .menu-box{
            float: left;
            width: 234px;
            height: 340px;
            background: #333;
        }
        .box{
            float: left;
            width: 234px;
            height: 340px;
            margin-left: 14px;
            background: #ccc;
        }
    }

    .shouji-list{
        margin-top: 20px;
        .shouji-content{
            .menu-box{
                width: 234px;
                height: 540px;
                background: #333;
                float: left;
                a{
                    display: block;
                    img{
                        width: 234px;
                    }
                }
            }

           .menu-box:hover,.product-box:hover{
                z-index: 2;
                -webkit-box-shadow: 0 15px 30px rgba(0,0,0,.1);
                box-shadow: 0 15px 30px rgba(0,0,0,.1);
                -webkit-transform: translate3d(0,-2px,0);
                transform: translate3d(0,-2px,0);
            }
        }
    }

    .product-box{
        width: 234px;
        height: 260px;
        float: left;
        margin-left: 14px;
        background: #fff;
        margin-bottom: 20px;
        transition: all .2s linear;
        .item{
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            padding: 20px 0;
            img{
                width: 160px;
                height: 160px;
            }
            .name{
                font-size: 14px;
                font-weight: 400;
                color: #333;
            }
            .desc{
                font-size: 12px;
                color: #b0b0b0;
            }
            .price{
                color: #ff6700;
            }
        }
    }
}

.footer{
    position: relative;
    margin-top: 10px;
    .site-service{
        padding: 30px 0px;
        border-bottom: 1px solid #e0e0e0;
        ul{
            overflow: hidden;
            li{
                text-align: center;
                font-size: 16px;
                float: left;
                width: 20%;
                border-left: 1px solid #e0e0e0;
                &:first-child{
                    border-left: none;
                }
            }
        }
    }
    .footer-links{
        margin: 50px 0px;
        overflow: hidden;
        .col-link{
            width: calc(976px/6);
            float: left;
            dt{
                margin: -1px 0 26px;
                font-size: 14px;
                line-height: 1.25;
                color: #424242;
            }
            dl{
                margin: 10px 0 0;
                font-size: 12px;
            }
        }
        .col-contact{
            width: 250px;
            height: 112px;
            float: right;
            border-left: 1px solid #e0e0ee;
            text-align: center;
            .phone{
                margin: 0 0 5px;
                font-size: 22px;
                line-height: 1;
                color: #ff6700;
            }
            .time{
                font-size: 12px;
                margin: 0 0 16px;
            }
            .btn-service{
                width: 120px;
                height: 28px;
                color: 12px;
                line-height: 28px;
                border: 1px solid #ff6700;
                background: #fff;
                color: #ff6700;
                display: inline-block;
                transition: all .4s;
                &:hover{
                    background: #f25807;
                    color: #fff;
                }
            }
        }
    }
}